<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="header-area">
        <div class="container">
            <div class="header">
 
<a href="#" class="logo">
    <div class="logo-wrapper">
        <img src="../static/images/A5759.jpg" alt="Abi Logo" class="logo-img">
        <div class="logo-text">
            <h1>ABINESH RL</h1> 
        </div>
    </div>
</a>
             <ul class="navbar">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#skills">skills</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                
                <div class="menu_icon">
                    <i class="fa fa-bars"></i>
                </div>

            </div>
        </div> 
    </header>
 
    <div class="FirstElement" id="home">
        <div class="profile-photo">
            <img src="../static/images/A5759.jpg" alt="profile picture">
        </div>
        <div class="profile-text">

            <h5>Hi I'm </h5><br>
            <h1>ABINESH R L</h1><br>
            <p>
                I'm a passionate PYTHON full-stack Web Developer with a strong desire to create innovative solutions and push the boundaries of technology. With a deep love for coding and problem-solving, I thrive on building dynamic and efficient web applications.
                
                </p>
            
            <div class="btn-group">
                <a href="#" class="btn   active">Download CV</a>
              
            </div>
        </div>
    </div>

    <section class="about-area" id="about">
        <div class="container">
            <div class="about">
                
                <div class="about-content">
                    <h4>About Me</h4>
                    <ul>
                        Hello! I m Abinesh a PYTHON  full-Stack Developer with a strong passion for building dynamic and responsive web applications. I hold a B.Sc. in Computer Science from calicut University, where I gained a solid foundation in programming, problem-solving, and full-stack web development.

                        With expertise in python,Django, React and flask, I specialize in creating seamless web experiences from the front-end to the back-end. My hands-on experience includes developing scalable, user-friendly applications and working on complex integrations to optimize performance.
                    </ul>
                </div>
                                  
                <div class="about-skills">
                    <ul>
                        <li>Name:Abinesh R L</li>
                        <li>Phone:887348345367</li>      
                        <li>From:India</li>
                        <li>Email:abihere7@gmail.com</li>          
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="education-content" id="education">
      <div class="container">
          <div class="row">
              <div class="education ">
                  <h3 class="title">Education</h3>
                  <div class="row">
                      <div class="timeline-box">
                          <div class="timeline">

                              <!-- item1 -->
                              <div class="timeline-item">
                                  <div class="circle-dot"></div>
                                  <h3 class="timeline-title">
                                      Bachelor of science in computer science
                                  </h3>
                                  <h4 class="timeline-title">Paramekkave College Of Arts and Science
                                      <br>Calicut University,Kerala
                                  </h4>
                                  <h4 class="timeline-title">
                                      <i class="fa fa-calendar"></i> 2021-2024
                                  </h4>
                              </div> 
                              <!--item2-->
                              <div class="timeline-item">
                                  <div class="circle-dot"></div>
                                  <h3 class="timeline-title">HSC-76%</h3>
                                  <h4 class="timeline-title">GFHSS NATTIKA
                                       in THRISSUR<br> (kerala State
                                      Board),kerala</h4>
                                  <h4 class="timeline-title">
                                      <i class="fa fa-calendar"></i> 2017-19     
                                  </h4>
                              </div>
                              <!-- item3 -->
                              <div class="timeline-item">
                                  <div class="circle-dot"></div>
                                  <h3 class="timeline-title">
                                      SSLC-84%
                                  </h3>
                                  <h4 class="timeline-title">GFHSS NATTIKA
                                    in THRISSUR<br> (kerala State
                                   Board),kerala</h4>
                                  <h4 class="timeline-title">
                                      <i class="fa fa-calendar"></i> 2016-2017
                                  </h4>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>
              <div class="internship">
                  <h3 class="title">Internship</h3>
                  <div class="row">
                      <div class="timeline-box">
                          <div class="timeline">
                              
                              <!-- intership -->
                              <div class="timeline-item">
                                  <div class="circle-dot"></div>
                                  <h3 class="timeline-title">
                                      WEB DEVELOPMENT
                                  </h3>
                                  <h4 class="timeline-title">PYTHON full-Stack</h4>
                                  <h4 class="timeline-title">MARCH 2025- APRIL 2025
                                      <i class="fa fa-calendar"></i> 
                                <br>                                      
                                      Proficient PYTHON full-Stack Developer with a strong foundation in building web applications using python, django, React and flask Experienced in developing intuitive user interfaces, creating efficient backend APIs, and integrating databases.
                                      During my two-week internship, I applied my skills to real-world projects, enhancing my proficiency in full-stack development. This experience allowed me to
                                      <br><br>
                                     
                                     
                                      <p>* Gain practical exposure to the software development lifecycle.</p>
                                      
                                      <p>* Strengthen my problem-solving and teamwork abilities.</p> 
                                  
                </div> 
                  </div>
            </div>
              </div>
   </div>
 </div>
  </section>


    <div id="projects" class="container">
        <h2 class="text">My Projects</h2>
        <div class="project-grid">
            <div class="project-item">
                <img src="../static/images/netflix.png" alt="Project 1">
                <h3>NETFLIX CLONE</h3>
                <p>Created a clone of netflix website using Html , Css.</p>
                <a href="https://github.com/abinesh-cpu/netflix-clone.git">View Project</a>
            </div>
            <div class="project-item">
                <img src="../static/images/bookmyshow.png" alt="Project 2">
                <h3>BOOKMYSHOW CLONE</h3>
                <p>Created a clone of bookmyshow website using Html , Css.</p>
                <a href="https://github.com/abinesh-cpu/bookmyshow_clone.git">View Project</a>
            </div>
            <div class="project-item">
                <img src="../static/images/puma.png" alt="Project 3">
                <h3>PUMA CLONE</h3>
                <p>Created a clone of puma website using Html , Css.</p>
                <a href="https://github.com/abinesh-cpu/puma-clone.git">View Project</a>
            </div>
        </div>
    </div>

    <section class="skills-content" id="skills">
        <div class="container">
            <div class="skills-title">
                <h4>Skills</h4>
                <p>Technologies and Tools I've worked with</p>
            </div>
            <div class="skills">
           <div class="skill">
            <i class="fa-brands fa-python"></i>
            <h4>Python</h4>
            <p>Data science, automation, and web development using Python and frameworks like FLASK and DJANGO.</p>
        </div>
                 <div class="skill">
                  <i class="fa-brands fa-html5"></i>
                  <h4>HTML</h4>
                  <p>Building well-structured web pages with semantic HTML elements.</p>
              </div>
                <div class="skill">
                    <i class="fa-brands fa-css3-alt"></i>
                    <h4>CSS</h4>
                    <p>Styling responsive and dynamic web pages using modern CSS techniques.</p>
                </div>
                  <div class="skill">
                    <i class="fa-brands fa-js-square"></i>
                    <h4>JavaScript</h4>
                    <p>Writing dynamic client-side code with JavaScript and ES6+ features.</p>
                </div>
                <div class="skill">
                    <i class="fa-solid fa-database"></i> 
                    <h4>MySQL</h4>
                    <p>Building and managing relational databases with MySQL.</p>
                </div>
            <div class="skill">
            <i class="fa-brands fa-bootstrap"></i>
            <h4>Bootstrap</h4>
            <p>Bootstrap is a powerful front-end framework for developing responsive, mobile-first websites quickly and easily.</p>
            </div>
            </div>
        </div>
    </section>

    
    <section class="contact-content" id="contact">
        <div class="container">
            <div class="contact-title">
                <h4>Contact Me</h4>
                <p>Get In Touch</p>
            </div>
            <div class="contact">
                <form name="submitToGoogleSheet" action="/contact" method="POST">
                    <input type="text" name="name" placeholder="Name" required>
                    <input type="text" name="subject" placeholder="Subject" required>
                    <input type="email" name="email" placeholder="Email" required>
                    <textarea name="message" placeholder="Message"></textarea>
                    <input type="submit" value="Send Message" class="submit">
                </form>
                <span id="msg"></span>
            </div>
        </div>
    </section>
    <footer class="footer">

        <small class="copyright">ABINESH</small>
        <small class="message">Personal Portfolio website </small>
    
       </footer>
</body>
</html>
